/*!
 * File upload
 */

.fileupload {
}

    .fileupload__options {
        margin: 10px 0;
    }


    .fileupload__progress {
        height: 10px;
    }


    .fileupload__files {
    }

        .fileupload__files .alert {
            margin: 0;
            border-radius: 0;
        }

    .fileupload__help p {
        font-size: .8em;
        line-height: 1.3em;
    }
