/* File data */

.file-data {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;


    & + .file-data {
        margin-top: -3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    > .label {
        position: absolute;
        top: 0;
        right: 0;
    }
}


    .file-data__body {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
    }


    .file-data__icon {
        text-align: center;
    }


    .file-data__info {
        h4 {
            margin-top: 0;
        }


        dl {
            font-size: .8em;
            line-height: 1.2em;
        }


            dt,
            dd {
                display: inline;
                font-weight: normal;
            }

                dt {
                    &:before,
                    &:after  { content: ':'; }

                    &:before { color: #ccc; }
                    &:first-child:before { content: ''; }
                }
    }


    .file-data__options {
        .file-data__options-option {
            display: inline-block;
            margin: 0 0 0 10px;
            width: auto;


            label {
                margin: 0;
            }
        }
    }


    .file-data__replace {
        clear: both;
        // margin-top: -40px;


        .form-group {
            margin-bottom: 0;
        }


        .panel {
            border: 0;
            box-shadow: 0 0 0 0;
        }

            .panel-heading {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                background: transparent;
            }


            .panel-body {
                padding-bottom: 0;
            }


        .file-data__icon {
            padding-left: 0;
        }


        .file-data__info {
            padding-right: 0;
        }
    }

