/**
 * CONTENTS
 * Default SASS settings. Uses Bourbon and Neat settings where applicable and
 * also defines some custom settings specifcally for use in your application.
 *
 * BOURBON
 * PX to EM....................................................................
 * Prefixer....................................................................
 * Asset pipeline..............................................................
 * Scaling variables...........................................................
 * Buttons.....................................................................
 * Font stacks.................................................................
 * Text inputs.................................................................
 * Timing function.............................................................
 *
 * NEAT
 * Disable warnings............................................................
 * Grid........................................................................
 * Visual grid.................................................................
 *
 * SIZES
 * Devices.....................................................................
 * Breakpoints.................................................................
 * iOS.........................................................................
 * Spacing.....................................................................
 *
 * PATHS
 * Images......................................................................
 * Fonts.......................................................................
 *
 * GRID
 * Grid settings...............................................................
 *
 * COLORS
 * Brand colors................................................................
 *
 * IMAGEs
 *
 * FONTs
 * Body........................................................................
 * Header......................................................................
 *
 * FORMs
 *
 * ANIMATION/TRANSITIONS
 * Base duration...............................................................
 * Timing function.............................................................
 *
 * MODIFIER
 * Join........................................................................
 *
 * REGIONS
 *
 */

/*------------------------------------*\
    BOURBON
\*------------------------------------*/

// // PX to EM
// // @see "vendor/bourbon/app/assets/stylesheets/settings/_px-to-em.scss";

// $em-base: 16px !default;


// // Prefixer
// // Global variables to enable or disable vendor prefixes
// // @see "vendor/bourbon/app/assets/stylesheets/settings/_prefixer.scss";

// $prefix-for-webkit:    true !default;
// $prefix-for-mozilla:   true !default;
// $prefix-for-microsoft: true !default;
// $prefix-for-opera:     true !default;
// $prefix-for-spec:      true !default;


// // Asset pipeline
// // A global setting to enable or disable the `$asset-pipeline` variable for all
// // functions that accept it.
// // @see "vendor/bourbon/app/assets/stylesheets/settings/_asset-pipeline.scss";

// $asset-pipeline: false !default;


// // Scaling Variables
// // @see "vendor/bourbon/app/assets/stylesheets/functions/_modular-scale.scss";

// $golden:           1.618;
// $minor-second:     1.067;
// $major-second:     1.125;
// $minor-third:      1.2;
// $major-third:      1.25;
// $perfect-fourth:   1.333;
// $augmented-fourth: 1.414;
// $perfect-fifth:    1.5;
// $minor-sixth:      1.6;
// $major-sixth:      1.667;
// $minor-seventh:    1.778;
// $major-seventh:    1.875;
// $octave:           2;
// $major-tenth:      2.5;
// $major-eleventh:   2.667;
// $major-twelfth:    3;
// $double-octave:    4;

// $modular-scale-ratio: $perfect-fourth !default;
// $modular-scale-base: em($em-base) !default;


// // Generates variables for all buttons.
// // Please note that you must use interpolation on the variable: `#{$all-buttons}`.
// // @see "vendor/bourbon/app/assets/stylesheets/addons/_buttons.scss";

// $buttons-list: 'button',
//                'input[type="button"]',
//                'input[type="reset"]',
//                'input[type="submit"]';

// $all-buttons:        assign-inputs($buttons-list);
// $all-buttons-active: assign-inputs($buttons-list, active);
// $all-buttons-focus:  assign-inputs($buttons-list, focus);
// $all-buttons-hover:  assign-inputs($buttons-list, hover);

// $all-button-inputs:        $all-buttons;
// $all-button-inputs-active: $all-buttons-active;
// $all-button-inputs-focus:  $all-buttons-focus;
// $all-button-inputs-hover:  $all-buttons-hover;


// // Font stacks
// // @see "vendor/bourbon/app/assets/stylesheets/addons/_font-stacks.scss";

// // Georgia font stack.
// $georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;

// /// Helvetica font stack.
// $helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

// /// Lucida Grande font stack.
// $lucida-grande: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;

// /// Monospace font stack.
// $monospace: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;

// /// Verdana font stack.
// $verdana: "Verdana", "Geneva", sans-serif;


// // Generates variables for all text-based inputs.
// // Please note that you must use interpolation on the variable: `#{$all-text-inputs}`.
// // @see "vendor/bourbon/app/assets/stylesheets/addons/_text-inputs.scss";

// $text-inputs-list: 'input[type="color"]',
//                    'input[type="date"]',
//                    'input[type="datetime"]',
//                    'input[type="datetime-local"]',
//                    'input[type="email"]',
//                    'input[type="month"]',
//                    'input[type="number"]',
//                    'input[type="password"]',
//                    'input[type="search"]',
//                    'input[type="tel"]',
//                    'input[type="text"]',
//                    'input[type="time"]',
//                    'input[type="url"]',
//                    'input[type="week"]',
//                    'textarea';

// $all-text-inputs:        assign-inputs($text-inputs-list);
// $all-text-inputs-active: assign-inputs($text-inputs-list, active);
// $all-text-inputs-focus:  assign-inputs($text-inputs-list, focus);
// $all-text-inputs-hover:  assign-inputs($text-inputs-list, hover);


// // Timing functions
// // CSS cubic-bezier timing functions.
// // Timing functions courtesy of jquery.easie (github.com/jaukia/easie)
// // Timing functions are the same as demoed here: http://jqueryui.com/resources/demos/effect/easing.html
// // @see "vendor/bourbon/app/assets/stylesheets/addons/timing-functions.scss";

// $ease-in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530);
// $ease-in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190);
// $ease-in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220);
// $ease-in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060);
// $ease-in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715);
// $ease-in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035);
// $ease-in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335);
// $ease-in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045);

// $ease-out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940);
// $ease-out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000);
// $ease-out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000);
// $ease-out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000);
// $ease-out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000);
// $ease-out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000);
// $ease-out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000);
// $ease-out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275);

// $ease-in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955);
// $ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
// $ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000);
// $ease-in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000);
// $ease-in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950);
// $ease-in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000);
// $ease-in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860);
// $ease-in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550);





/*------------------------------------*\
    NEAT
\*------------------------------------*/

// // Disable Warnings
// // Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
// // @see "vendor/neat/app/assets/stylesheets/settings/_disabled-warnings.scss"

// $disable-warnings: false !default;

// // Grid
// // @see "vendor/neat/app/assets/stylesheets/settings/_grid.scss"

// // Sets the relative width of a single grid column.
// // The unit used should be the same one used to define `$gutter`.
// // To learn more about modular-scale() see [Bourbon docs](http://bourbon.io/docs/#modular-scale).
// // Set with a `!global` flag.
// $column: modular-scale(3, 1em, $golden) !default;

// // Sets the relative width of a single grid gutter.
// // The unit used should be the same one used to define `$column`.
// // To learn more about modular-scale() see [Bourbon docs](http://bourbon.io/docs/#modular-scale).
// // Set with the `!global` flag.
// $gutter: modular-scale(1, 1em, $golden) !default;

// // Sets the total number of columns in the grid.
// // Its value can be overridden inside a media query using the `media()` mixin.
// // Set with the `!global` flag.
// $grid-columns: 12 !default;

// // Sets the max-width property of the element that includes `outer-container()`.
// // To learn more about `em()` see [Bourbon docs](http://bourbon.io/docs/#px-to-em).
// // Set with the `!global` flag.
// $max-width: em(1088) !default;

// // When set to true, it sets the box-sizing property of all elements to `border-box`.
// // Set with a `!global` flag.
// $border-box-sizing: true !default;

// // Sets the default [media feature](http://www.w3.org/TR/css3-mediaqueries/#media)
// // that `media()` and `new-breakpoint()` revert to when only a breakpoint
// // value is passed. Set with a `!global` flag.
// $default-feature: min-width; // Default @media feature for the breakpoint() mixin

// // Sets the default layout direction of the grid. Can be `LTR` or `RTL`.
// // Set with a `!global` flag.
// $default-layout-direction: LTR !default;


// // Visual grid
// // @see "vendor/neat/app/assets/stylesheets/settings/_visual-grid.scss"

// // Displays the visual grid when set to true.
// // The overlaid grid may be few pixels off depending on the browser's
// // rendering engine and pixel rounding algorithm.
// // Set with the `!global` flag.
// $visual-grid: true !default;

// // Sets the visual grid color. Set with `!global` flag.
// $visual-grid-color: #eee !default;

// // Sets the `z-index` property of the visual grid. Can be `back`
// // (behind content) or `front` (in front of content).
// // Set with `!global` flag.
// $visual-grid-index: back !default;

// // Sets the opacity property of the visual grid.
// // Set with `!global` flag.
// $visual-grid-opacity: 0.4 !default;
// $visual-grid-breakpoints: () !default;


// // Grid private
// // @see "vendor/neat/app/assets/stylesheets/grid/_private.scss"

// $parent-columns: $grid-columns !default;
// $fg-column: $column;
// $fg-gutter: $gutter;
// $fg-max-columns: $grid-columns;
// $container-display-table: false !default;
// $layout-direction: LTR !default;





/*------------------------------------*\
    SIZES
\*------------------------------------*/

/* Devices */

$device-xs: em(320);
$device-sm: em(480);
$device-md: em(720);
$device-lg: em(1024);
$device-xl: em(1200);


/* Breakpoints */

$breakpoint-xs: new-breakpoint($default-feature $device-xs);
$breakpoint-sm: new-breakpoint($default-feature $device-sm);
$breakpoint-md: new-breakpoint($default-feature $device-md);
$breakpoint-lg: new-breakpoint($default-feature $device-lg);
$breakpoint-xl: new-breakpoint($default-feature $device-xl);


/* iOS */

$ios-statusbar: 20px;
$ios-header-chrome: $ios-statusbar + 21px;
$ios-footer-chrome: 69px;
$ios-chrome: $ios-header-chrome + $ios-footer-chrome;

$iphone-5: 320px;
$iphone-6: 375px;
$iphone-6plus: 414px;


/* Base spacing */

$padding: $em-base / 2;
$margin: $em-base / 2;





/*------------------------------------*\
    PATHS
\*------------------------------------*/

$path-image: '../images';
$path-font: '../fonts';





/*------------------------------------*\
    GRID
\*------------------------------------*/

$create-grid-col-xs: false !default;
$create-grid-col-sm: true !default;
$create-grid-col-md: true !default;
$create-grid-col-lg: false !default;
$create-grid-col-xl: false !default;





/*------------------------------------*\
    COLORS
\*------------------------------------*/

$color-primary: black;
$color-success: green;
$color-danger: red;
$color-warning: orange;
$color-default: black;
$color-black: black;
$color-link: blue;





/*------------------------------------*\
    IMAGEs
\*------------------------------------*/





/*------------------------------------*\
    FONTs
\*------------------------------------*/

$font-body: $helvetica;
$font-header: $georgia;





/*------------------------------------*\
    FORMS
\*------------------------------------*/




/*------------------------------------*\
    ANIMATION/TRANSITIONS
\*------------------------------------*/

$animation-duration: 1s;
$animation-timing-function: linear;





/*------------------------------------*\
    MODIFIER
\*------------------------------------*/

$modifier-join: '--';





/*------------------------------------*\
    REGIONS
\*------------------------------------*/
