/*!
 * WYSIHTML5 Toolbar
 */

// ul.wysihtml5-toolbar {
//     /*background-color: #fafafa;*/
//     border: 1px solid #ccc;
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     padding: 10px 0 0 5px;
// }

/*!
 * WYSIHTML
 */

.wysihtml {
    position : relative;
}


    /*ul*/.wysihtml__toolbar {
        margin                  : 0;
        padding                 : 5px 5px 0 0;
        background-color        : #fff;
        border                  : 1px solid #ccc;
        border-top-left-radius  : 5px;
        border-top-right-radius : 5px;


        > li {
            display    : inline-block;
            list-style : none;
            margin     : 0 0 5px 5px;


            .wysihtml5-command-active,
            .wysihtml5-action-active {
                background-color : #eee;
            }


            a[data-wysihtml5-action="change_view"] {
                position : absolute;
                bottom   : 0;
                right    : 0;
            }
        }


        // Disables commands in the toolbar
        &.wysihtml5-commands-disabled {
            .btn-group, .dropdown {
                a, button {
                    cursor  : default;
                    opacity : 0.5;


                    &:hover {
                        background-color: transparent;
                    }
                }                
            }


            + textarea[data-type=html] {
                background-color : #222;
                color            : #ccc; 
            }
        }
    }


    /*iframe*/.wysihtml__editor/*.wysihtml5-sandbox*/ {
        width : 100% !important;
    }


textarea[data-type=html] {
    border-top-left-radius  : 0;
    border-top-right-radius : 0;
    padding                 : 0;
}
