/**
 * CONTENTS
 * Really basic responsive grid layout and utility classes
 *
 * BASE
 *
 * MODIFIERS
 */


/*------------------------------------*\
    BASE
\*------------------------------------*/

.row {
	@include outer-container;
}


.col {
	@include pad($padding);
}





/*------------------------------------*\
    MODIFIERS
\*------------------------------------*/

// Generates .col--xs-x

@if $create-grid-col-xs == true {
	@include media($breakpoint-xs) {
		@for $i from 1 through $grid-columns {
			.col--xs-#{$i}  { @include span-columns($i); }
		}
	}
}


// Generates .col--sm-x

@if $create-grid-col-sm == true {
	@include media($breakpoint-sm) {
		@for $i from 1 through $grid-columns {
			.col--sm-#{$i}  { @include span-columns($i); }
		}
	}
}


// Generates .col--md-x

@if $create-grid-col-md == true {
	@include media($breakpoint-md) {
		@for $i from 1 through $grid-columns {
			.col--md-#{$i}  { @include span-columns($i); }
		}
	}
}


// Generates .col--lg-x

@if $create-grid-col-lg == true {
	@include media($breakpoint-lg) {
		@for $i from 1 through $grid-columns {
			.col--lg-#{$i}  { @include span-columns($i); }
		}
	}
}


// Generates .col--xl-x

@if $create-grid-col-xl == true {
	@include media($breakpoint-xl) {
		@for $i from 1 through $grid-columns {
			.col--xl-#{$i}  { @include span-columns($i); }
		}
	}
}
