/*!
* DOM
*/

body {
    padding-top: 50px;
}

    body.cover {
        background-color: #242a37;
        color: #fff;
    }


    body.dragging, body.dragging * {
        cursor: move !important;
    }





/*!
* Header
*/

header.navbar {
    border-bottom: 0;
    opacity: 0.95;
}

    header.navbar .navbar-toggle {
        border: 0;
        margin-right: 5px;
    }


@media (min-width: 768px) {
    header.navbar .navbar-header {
        padding-right: 0;
    }

    header.navbar .navbar-brand {
        display: block;
        float: none;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 0;
        text-align: center;
        width: 100%;
    }


    header.navbar .navbar-collapse {
        width: 100%;
    }

        header.navbar .navbar-collapse > div:first-child {
            padding-left: 13px;
        }


    header.navbar nav[name=tertiary] .nav {
        float: none;
        width: 100%;
    }

        header.navbar nav[name=tertiary] .nav > li {
            float: right;
        }
}





/*!
* Sidebar
*/
.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #3b4252;
}

    .sidebar .nav {
        display: table;
        width: 100%;
    }


        .sidebar .nav > li {
            display: table-cell;
        }


            .sidebar .nav > li > a {
                color: #fff;
                font-size: 90%;
                opacity: 0.3;
                padding: 10px 0;
                text-align: center;
            }


                .sidebar .nav > li > a:hover {
                    background-color: #242a37;
                    opacity: 1;
                }


                .sidebar .nav > li > a span.glyphicon {
                    display: block;
                    font-size: 180%;
                    margin-bottom: 7px;
                }


        .sidebar .nav > li.active > a {
            opacity: 1;
        }


body.cover .sidebar {
    display: none;
}


@media (min-width: 768px) {
    .sidebar {
        top: 50px;
        padding: 20px 0;
    }


        .sidebar .nav > li {
            display: block;
        }


            .sidebar .nav > li > a {
                padding: 20px 0;
            }
}





/*!
* Main content
*/
.main {
    padding: 0 0 70px;
}


.main--content {
    padding: 0 20px 20px;
}


@media (min-width: 768px) {
    .main {
        padding-bottom: 0;
    }
}







/*!
* Helpers
*/

.auto-margin--horizontal {
    margin-left: auto;
    margin-right: auto;
}





/*!
* Regions
*/

.messages .alert {
    border-radius: 0;
    border-top: 0;
    margin-bottom: 0;
}


.records-count {
    margin-bottom: 30px;
}

    .records-count .lead {
        margin-bottom: 5px;
    }


.records-listing--option {
    float: right;
    margin: 5px;
}

    .records-listing--option .pagination {
        margin: 0;
    }


/**
 * Records list
 */

.records-list {
    margin: 10px 0;
}


    .records-list__file-icon {
        width: 130px;
    }


    .record-list--sortable {
        position: relative;
        overflow: hidden;


        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }


        .placeholder {
            position: relative;
            width: 100%;
            height: 30px;
            border: 2px dashed #ccc;


            > td {
                background-color: #fcf8e3;
            }


            &:nth-child(even), &:nth-child(odd) {
                > td { background-color: #fcf8e3 !important; }
                &:hover > td { background-color: #fcf8e3 !important; }
            }
        }
    }





/* File icon */

.file-icon {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}


    .file-icon img,
    .file-icon video,
    .file-icon audio,
    .file-icon canvas,
    .file-icon span,
    .file-icon .glyphicon {
        height: 100%;
        width: 100%;
    }


    .file-icon .glyphicon {
        font-size: 60px;
        line-height: 130px;
    }

        .file-icon .glyphicon.glyphicon-file { text-indent: 10px; }











/* Asset library */

.asset-library__item {
}

    .asset-library__item .asset-library__item__icon {
        display: block;
        height: 130px;
        background-color: #f5f5f5;
        overflow: hidden;
    }


    .asset-library__item .asset-library__item__checkbox {
        float: left;
        margin-top: 10px;
    }


    .asset-library__item .asset-library__item__title {
        margin-left: 18px;
    }





/*!
 * Content review
 */

.content-review {
}

    .content-review .panel-header h1,
    .content-review .panel-body h1 {
        margin: 0;
    }


    .content-review--last-post .page-header {
        margin-bottom: 10px;
    }


    .content-review--last-post .table tr:first-child td {
        padding-top: 0;
        padding-bottom: 0;
    }


    .content-review--last-post .table tr:first-child td .table {
        margin-bottom: 10px;
    }





/*!
 * Revisions
 */

.revisions {


    .form-group {
        margin-bottom: 0;
    }


        .form-control {
            border: 0;
            padding: 10px;
            border-radius: 0;
        }


    .record-list {
        margin-top: 0;
    }
}





/*!
* Bootstrap overwrites
*/

body.modal-open {
    overflow: auto;
}


.modal-backdrop {
    background-color: #242a37;
}


.modal-dialog {
    margin-top: 60px;
}


.modal-header h3 {
    margin: 0;
}


.modal-body img {
    max-width: 100%;
}


.jumbotron h1 {
    margin-top: 0;
}


body.cover .jumbotron {
    background-color: transparent;
    padding: 30px;
    margin-bottom: 0;
    text-align: center;
}


body.cover .jumbotron h1 {
    color: #3b4252;
}


.page-header {
    margin-top: 0;
    position: relative;
}


.btn:focus {
    outline: 0;
}





/*!
* Buttons
*/

.btn label,
.btn .control-label {
    margin-bottom: 0;
}


.btn-toggle {
    position: relative;
    overflow: hidden;
}

    .btn-toggle input[type="checkbox"] {
        position: absolute;
        top: -50px;
        left: -50px;
    }





/*!
* Record assets
*/

.record-assets {
}

    .record-assets__content {
        margin: 20px 0;
    }



/*!
 * Date picker
 */

    .datepicker.dropdown-menu {
        z-index: 1050;
    }





.bootstrap-tagsinput {
    display: block;
}





/*!
* Forms
*/

.input-group .input-group-addon + .input-group .form-control {
    border-radius: 0;
}


textarea[data-type=html] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    padding: 0;
}


.login--form input {
    border-radius: 0;
    margin-bottom: -1px;
}


    .login--form input:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


    .login--form input[type=submit],
    .reset--form input[type=submit] {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 10px 0;
    }


.form-filter a:hover {
    text-decoration: none;
}


    .form-filter input[name=tags] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }


        .form-filter input[name=tags] + .help-block {
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: 0;
        }


        .form-filter input[name=tags] + .help-block > span:after {
            content: ' ';
        }


        .form-filter input[name=tags] + .help-block .radio-inline {
            padding-top: 0;
        }


.form-record--published-status {
    margin-top: -2px;
    margin-right: -1px;
}


.form-record--options div {
    margin-bottom: 5px;
}


@media (min-width: 992px) {
    .form-record--options-secondary {
        text-align: right;
    }
    .form-record--options-secondary .btn {
        display: inline-block;
        margin-top: 0;
        width: auto;
    }
}





/*!
* Pages
*/
